@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat-VariableFont_wght.ttf");
     }
@font-face {
    font-family: "New Spirit";
    src: url ("../assets/New-Spirit-Regular.ttf");
}

html {
    box-sizing: border-box;
    margin-right: calc(-1 * (100vw - 100%));
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

ul, li {
padding: 0px; 
margin: 0px;
list-style: none;
}

body {
    overflow-x: hidden;
}
  
/* section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
} */

:root {
    --Blue: hsla(230, 100%, 54%, 1);
    --Warm-white: hsla(43, 88%, 97%, 1);
    --Orange: hsla(10, 95%, 75%, 1);
    --Dark: hsla(188, 31%, 14%, 1);
  }

  /* width */
    ::-webkit-scrollbar {
    width: 8px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--Warm-white);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: hsla(188, 40%, 40%, 1);
    border-radius: 30px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: hsla(188, 50%, 30%, 1);
    }

    body {
    background: var(--Dark);
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    }
    
    body {
        -webkit-transition: background-color 0.3s 0.1s ease-in-out;
        -moz-transition: background-color 0.3s 0.1s ease-in-out;
        -o-transition: background-color 0.3s 0.1s ease-in-out;
        transition: background-color 0.3s 0.1s ease-in-out;
    }

    p {
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 22.1px */
        hyphens: manual;
    }

    a {
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 22.1px */
    }

    h1 {
        color: var(--Warm-white);

        /* Heading/Serif/H1 */
        font-family: New Spirit;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px; /* 94.118% */
        letter-spacing: -0.421px;
        margin: 0;
    }

    h2 {
        color: var(--Warm-white);
        text-align: center;

        /* Heading/Serif/H2 */
        font-family: New Spirit;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 120% */
    }

    h3 {
        color: var(--Orange);

        /* Heading/Serif/H3 */
        font-family: New Spirit;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 88px */
        letter-spacing: -0.8px;
        margin: 0;
    }

        .text-large {
        /* Body/Text Large Fugure */
        color: var(--Warm-white);
        font-size: 98px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -1.96px;
        }
        
        .text-medium {
        color: var(--Warm-white);
        
        /* Body/Pargraph Text Medium */
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 60px */
        letter-spacing: -1px;
        }
        
        .text-small {
            color: var(--Warm-white);
            text-align: center;
            max-width: 364px;
        }

        h4 {
            color: var(--Warm-white);
            text-align: center;

            /* Heading/Serif/H4 */
            font-family: New Spirit;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px; /* 150% */
        }

        .observer-1 {
            opacity: 0.4;
            transform: translateY(20px);
            transition: 0.4s all cubic-bezier(0.17,0.84,0.44,1);
            /* 0.3s all cubic-bezier(0.77,0,0.18,1); */
            
            
        }

          
          @media (prefers-reduced-motion: no-preference) {
            .observer-1 {
                transition: opacity 0.4s cubic-bezier(0.17,0.84,0.44,1), transform 0.4s cubic-bezier(0.17,0.84,0.44,1); 
                transition-delay: 0.2s;
          }
        }

        .reveal {
            opacity: 1;
            transform: translateY(0);
        }



        .observer-2 {
            opacity: 0.05 !important;
            transform: translateY(3px) !important;
            transition: opacity 0.3s cubic-bezier(0.77,0,0.18,1), transform 0.3s cubic-bezier(0.77,0,0.18,1) !important;      
        }

          
          @media (prefers-reduced-motion: no-preference) {
            .observer-2{
                transition: opacity 0.3s cubic-bezier(0.77,0,0.18,1), transform 0.3s cubic-bezier(0.77,0,0.18,1) !important; 
                transition-delay: 0.1s !important;
          }
        }

        .reveal-second {
            opacity: 1 !important;
            transform: translateY(0) !important;
        }


        .sr-only {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            white-space: nowrap; /* 1 */
        }

        .resize-animation-stopper * {
            animation: none !important;
            transition: none !important;
          }

          #section-1, #section-2, #section-3{
            scroll-behavior: smooth;
          }

          html {scroll-behavior: smooth;}

footer a {
    text-decoration: none;
}