@font-face {
font-family: "Quicksand";
src: url("../assets/Quicksand-VariableFont_wght.ttf")
 }

body {
font-family: "Quicksand";
height: 100vh;
width: 100vw;
margin: 0;
padding: 0;
overflow-y: hidden;
}

body {
    -webkit-transition: background-color 0.3s 0.1s ease-in-out;
    -moz-transition: background-color 0.3s 0.1s ease-in-out;
    -o-transition: background-color 0.3s 0.1s ease-in-out;
    transition: background-color 0.3s 0.1s ease-in-out;
}

#switch-wrapper {
    position: relative;
    width: 52px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
    margin-right: 30px;
    border-radius: 100px;
    background: #409B81;
    cursor: pointer;
    transition: all 1s;
}

#switch-toggle {
position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 23px;
  background: #FFF;
  transform: translateX(-50%);
  transition: transform 400ms ease-in-out;
}

#switch-toggle.switch-off {
  transform: translateX(50%);
}


.layer-theme {
fill: #fdf4dc !important; 
opacity: 100% !important;
transform: rotate(-120deg) !important;   
}

.background-theme {
    background-color: #FFB83B;
}

.hero {
/* border: 15px solid #000; */
position: relative;
max-width: 1400px;
padding-left: 50px;
padding-right: 50px;
margin: auto;
height: 100%;
width: 100%;
box-sizing: border-box;
overflow: hidden;
}

.navigation {
/* border: 5px solid #000; */
position: fixed;
top: 50px;
left:50%;
right: 50%;
transform: translate(-50%, -50%);
width: calc(100% - 100px);
max-width: 1400px;
z-index: 12000;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
}

#menu-container {
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
flex-direction: row;
height: 40px;
align-items: center;
}

.logo-container {
color: #357960;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.logo-container span {
color: #357960;
font-weight: 700;
}

.logo-color {
    color: #FFFFFF !important;
    transition: all 0.3ms ease-in-out;
}

.header {
    color: #000;
    text-align: right;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 30px;
}

.header a {
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
    transition: all 200ms;
}

.header a:hover {
    color:#409B81; 
}

#sign-up {
    border: 1px solid rgba(255, 255, 255, 0.00);
    white-space: nowrap;
    padding: 10px 18px;
    border-radius: 100px;
    background: #409B81;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
}

#sign-up:hover {
    border: 1px solid #409B81;
    background: #FFFFFF;
    color: #409B81;
}

#intro-container h1 {
    color: #003300;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 52px */
    letter-spacing: -0.442px;
    margin-bottom: 0;   
}

#intro-container p {
    color: #003300;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    letter-spacing: -0.442px;
}

#hands {
    display: block;
    background-image: url('../images/Hands.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    width: 217px;
    height: 159px;
    margin-bottom: -50px;
    flex-shrink: 0;
    transition-property: all;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: cubic-bezier(0.305, 0, 0, 1.015);
    transition-delay: 0.1s, 0.1s;
}

.avatar {
    background-image: url('../images/Avatar.png') !important;
}

#app-store {
    display: block;
    background-image: url('../images/App-Store-White.svg');
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-position: center;
    background-size:100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 135px;
    height: 46px;
    cursor: pointer;
    margin-right: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-transition: border 0.3s 0.1s linear;
    -moz-transition: border 0.3s 0.1s linear;
    -o-transition: border 0.3s 0.1s linear;
    transition: border 0.3s 0.1s linear;
    
}

#app-store:hover {
    border: 1px solid #357960;
    transform: translate(0, -2px);
    box-shadow: 1px 1px 1px #409B81;
    -webkit-transition: all 0.1s 0.1s ease-in-out;
    -moz-transition: all 0.1s 0.1s ease-in-out;
    -o-transition: all 0.1s 0.1s ease-in-out;
    transition: all 0.1s 0.1s ease-in-out;
}

#google-play {
    display: block;
    background-image: url('../images/Google-Play-White.svg');
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-position: center;
    background-size:100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 135px;
    height: 46px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-transition: border 0.3s 0.1s linear;
    -moz-transition: border 0.3s 0.1s linear;
    -o-transition: border 0.3s 0.1s linear;
    transition: border 0.3s 0.1s linear;
}
#google-play:hover {
    border: 1px solid #357960;
    transform: translate(0, -2px);
    box-shadow: 1px 1px 1px #409B81;
    -webkit-transition: all 0.1s 0.1s ease-in-out;
    -moz-transition: all 0.1s 0.1s ease-in-out;
    -o-transition: all 0.1s 0.1s ease-in-out;
    transition: all 0.1s 0.1s ease-in-out;
}

.border-remove {
    border: 1px solid #FFFFFF !important;
}

#layer1 {
    display: block;
    position: absolute;
    /* background-image: url(/images/Blub.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    width: 580px;
    height: 630px;
    bottom: 5%;
    transform: rotate(9.495deg);
    flex-shrink: 0;
    right: 12%;
    fill: #B1D933;
    opacity: 50%;
	-webkit-transition: all 0.3s 0.1s ease-in-out;
-moz-transition: all 0.3s 0.1s ease-in-out;
-o-transition: all 0.3s 0.1s ease-in-out;
transition: all 0.3s 0.1s ease-in-out;
}

#layer2 {
    display: block;
    position: absolute;
    background-image: url('../images/People.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 800px;
    height: 800px;
    flex-shrink: 0;
    right: -5%;
    bottom: -15%;
    z-index: 1000;
}
#iphone {
    display: block;
    position: absolute;
    background-image: url('../images/iPhone.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 500px;
    height: 800px;
    flex-shrink: 0;
    left: 0;
    bottom: -75%;
    z-index: 1000;
}

#button-container {
    /* border: 10px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    flex: 1;
}

#intro-container {
    position:absolute;
    /* border: 10px solid #000; */
    top: 15%;
    left: 5%;
    z-index: 10000;
    overflow: visible;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 434px;
}

footer {
    position: absolute;
    bottom: 0.9%;
    right: 2%;
    padding-left: 2%;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 39px */
    letter-spacing: -0.442px;
    color: #1F1E1C;
    z-index: 15000;
}

footer a {
    color: inherit;
    text-decoration: none;
    background-color: #FCBD21;
    padding: 6px 5px;
    border-radius: 100px;
}

@media screen and (max-width: 1400px) {

#intro-container {
    position:absolute;
    /* border: 10px solid #000; */
    top: 15%;
    left: 5%;
    z-index: 10000;
    overflow: visible;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
}
 
#intro-container h1 {
    /* border: 10px solid #000; */
    color: #003300;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    letter-spacing: -0.442px;
    margin-bottom: 0;   
}

#intro-container p {
    /* border: 10px solid #000; */
    color: #003300;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    letter-spacing: -0.442px;
    margin: 0 0;
}
}

@media screen and (max-width: 1100px) {

    #intro-container {
        /* border: 10px solid #000; */
        top: 20%;
        left: 5%;
        height: 400px;
        width: 300px;
    }
     
    #intro-container h1 {
        /* border: 10px solid #000; */
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: -0.442px;
        margin-top: 30px;   
    }
    
    #intro-container p {
        /* border: 10px solid #000; */
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 39px */
        letter-spacing: -0.442px;
    }
    #layer1 {
        width: 450px;
        height: 600px;
        bottom: 5%;
        transform: rotate(9.495deg);
        flex-shrink: 0;
        right: 12%;
    }
    #layer2 {
        width: 600px;
        height: 800px;
        flex-shrink: 0;
    }
    #iphone {
        width: 400px;
        height: 800px;
        left: 3%;
        bottom: -60%;
    }

    #app-store {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #google-play {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }

}
@media screen and (max-width: 950px) {

    .logo-container {
        margin-right: 30px;
    }
    #menu-container {
        width: 100%;
        justify-content: space-between;
    }
    #intro-container {
        /* border: 10px solid #000; */
        top: 15%;
        left: 5%;
        height: 400px;
        width: 300px;
    }
     
    #intro-container h1 {
        /* border: 10px solid #000; */
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: -0.442px;
        margin-bottom: 0;   
    }
    
    #intro-container p {
        /* border: 10px solid #000; */
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 39px */
        letter-spacing: -0.442px;
    }
    #hands {
        width: 150px;
        height: 159px;
        margin-bottom: -60px;
        flex-shrink: 0;
    
    }
    #layer1 {
        width: 430px;
        height: 600px;
        bottom: 15%;
        transform: rotate(9.495deg);
        flex-shrink: 0;
        right: 5%;
    }
    #layer2 {
        width: 550px;
        height: 800px;
        flex-shrink: 0;
        right: -5%;
        bottom: -10%;
    }
    #iphone {
        width: 400px;
        height: 800px;
        left: 3%;
        bottom: -60%;
    }

    #app-store {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #google-play {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #button-container {
        margin-top: 10px;
        flex: 0;
    }
    #sign-up {
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 16px;

    }
}
@media screen and (max-width: 800px) {

    .navigation {
        /* border: 10px solid #000; */
        position: fixed;
        top: 70px;
        left:50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 30px);
        justify-content: center;
        align-items: center;
    }

    .hero {
        position: unset;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: row;
        padding: 0;
        padding-top: 60px;
    }

    #intro-container {
        position: unset;
        height: 250px;
        width: 500px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    #intro-container h1 {
        /* border: 10px solid #000; */
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: -0.442px;
        margin-bottom: 0;   
    }
    
    #intro-container p {
        /* border: 10px solid #000; */
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 39px */
        letter-spacing: -0.442px;
    }
    .logo-container {
        font-size: 25px;
    }
    #hands {
        width: 150px;
        height: 159px;
        margin-bottom: -60px;
        flex-shrink: 1;
    
    }
    #layer1 {
        width: 350px;
        height: 600px;
        bottom: 15%;
        flex-shrink: 0;
        top: 70%;
        left:50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
    #layer2 {
        width: 600px;
        height: 800px;
        flex-shrink: 0;
        right: -5%;
        bottom: -10%;
        top: 70%;
        left:50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    #iphone {
    display: none;
    }

    #app-store {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #google-play {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #button-container {
        margin-top: 10px;
        flex: 0;
    }
    #sign-up {
        padding: 8px 16px;
        border-radius: 100px;
        font-size: 16px;

    }

}

@media screen and (max-width: 700px) {

    .navigation {
        position: fixed;
        top: 30px;
        left: unset;
        right: unset;
        transform: unset;
        /* transform: translate(-50%, -50%); */
        width: 100%;
        max-width: 1400px;
        z-index: 12000;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;

        }
        #menu-container {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        }
    
        #menu-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        #sign-up {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:center;
        }

    .hero {
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction:column;
        margin-top: 150px;
        padding-left: unset;
    }

    #intro-container {
        position: unset;
        height: 250px;
        width: 500px;
        margin-top: -60px;
    }
     
    #intro-container h1 {
        /* border: 10px solid #000; */
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: -0.442px;
    }
    
    #intro-container p {
        /* border: 10px solid #000; */
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 39px */
        letter-spacing: -0.442px;
    }
    #hands {
        width: 150px;
        height: 159px;
        margin-bottom: -60px;
    
    }
    #layer1 {
        width: 250px;
        height: 600px;
        flex-shrink: 0;
        background-position: center;
        background-size:100%;
        top: unset;
        left:unset;
        right: unset;
        bottom: -20%;
        transform: unset;
    }
    #layer2 {
        width: 400px;
        height: 700px;
        flex-shrink: 0;
        background-position: center;
        background-size:100%;
        right: unset;
        bottom: unset;
        top: unset;
        left: unset;
        right: unset;
        bottom: -25%;
        transform: unset;
    }
    #iphone {
    display: none;
    }

    #app-store {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #google-play {
        width: 100px;
        height: 36px;
        margin-right: 30px;
        
    }
    #button-container {
        margin-top: 10px;
        flex: 0;
    }

}


@media screen and (max-width: 500px) {

    .navigation {
        position: fixed;
        top: 30px;
        left: unset;
        right: unset;
        transform: unset;
        /* transform: translate(-50%, -50%); */
        width: 100%;
        max-width: 1400px;
        z-index: 12000;
        display: flex;
        justify-content:center;
        flex-direction: row;
        align-items: center;

        }
        #menu-container {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        }
    
        #menu-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        #sign-up {
        position: absolute;
        display:block;
        margin-top: 100px;
        }

    .hero {
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction:column;
        margin-top: 150px;
        padding-left: unset;
    }

    #intro-container {
        position: unset;
        height: 250px;
        width: 500px;
        margin-top: -40px;
        width: 100%;
    }
     
    #intro-container h1 {
        /* border: 10px solid #000; */
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 52px */
        letter-spacing: -0.442px;
    }
    
    #intro-container p {
        /* border: 10px solid #000; */
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 39px */
        letter-spacing: -0.442px;
    }
    #hands {
        width: 150px;
        height: 159px;
        margin-bottom: -60px;
    
    }
    #layer1 {
        width: 200px;
        height: 600px;
        flex-shrink: 0;
        background-position: center;
        background-size:100%;
        top: unset;
        left:unset;
        right: unset;
        bottom: -20%;
        transform: unset;
    }
    #layer2 {
        width: 300px;
        height: 700px;
        flex-shrink: 0;
        background-position: center;
        background-size:100%;
        right: unset;
        bottom: unset;
        top: unset;
        left: unset;
        right: unset;
        bottom: -30%;
        transform: unset;
    }

}
