.story {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background: var(--Dark);
}

@media screen and (max-width: 1200px) {
    .story {
        height: 600px;
        gap: 3rem;
        justify-content: space-between;
        margin-top: -5rem;
    }
}

@media screen and (max-width: 975px) {
    .story {
        height: 800px;
        gap: 3rem;
        justify-content: space-between;
        margin-top: -5rem;
    }
}

@media screen and (max-width: 750px) {
    .story {
        flex-direction: column-reverse;
        height: 900px;
        gap: 3rem;
    }
}

@media screen and (max-width: 470px) {
    .story {
        height: 850px;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }
}



.story-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    z-index: 1000;
}

@media screen and (max-width: 750px) {
    .story-container {
        justify-content: center;
        align-items: flex-start;
    }
}


/* @media screen and (max-width: 1200px) {
    .story-intro {
        width: 300px;
    }
} */

.story-container p {
    margin-top: 30px;
    width: 500px;
    text-align: left;
}


@media screen and (max-width: 975px) {
    .story-container p {
        max-width: 350px;
    }
}

@media screen and (max-width: 650px) {
    .story-container p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .story-container h3 {
        font-size: 50px;
    }
}

.cta-team {
    border: 1px solid var(--CTA-Warm-White, #FEFAF0);
    margin-top: 35px;
    display: inline-flex;
    border-radius: 20px;
    background: var(--Background-Dark, #182B2E);
    display: inline-flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: border 0.3s 0.1s linear;
    -moz-transition: border 0.3s 0.1s linear;
    -o-transition: border 0.3s 0.1s linear;
    transition: border 0.3s 0.1s linear;
    color: var(--Warm-white);
}

.cta-team:hover {
    border: 1px solid var(--Warm-white);
    color: var(--Warm-white);
    background: var(--Warm-white);
    color: var(--Blue);
}


.story {
    position: relative;
}
.image-team {
    background-attachment: fixed;
    background-position: 100% 70%;
    background-image: url('../images/team-layer.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80%;
}


@media screen and (max-width: 750px) {
    .image-team {
        left: 6% !important;
        transform: translateY(50%) !important;
    }
}

@media screen and (max-width: 975px) {
    .image-team {
        position: absolute;
        top: 0%;
        right:6%;
        transform: translateY(90%);
        background-attachment: unset;
        background-position: unset;
        background-image: url('../images/team-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 281.67px;
        height: 269px;
}
}



@media screen and (max-width: 1200px) {
    .image-team {
    background-position: right;
    background-size: cover;
}
}

@media screen and (max-width: 1200px) {
    .image-team {
    background-position: right;
    background-size: cover;
}
}


    @media screen and (max-width: 1400px) {
        .image-team {
        background-position: 95% 70%;
        background-size: contain;
}
    }

@media screen and (min-width: 1900px) {
    .image-team {
    background-position: 90% 70%;
    background-size: cover;
}
    }


.team-mask {
    display: block;
    position: absolute;
    right: 0%;
    transform: translateX(-50%); 
    transform: translateY(-50%);
    -webkit-clip-path: polygon(calc(100% - 0px) calc(50% - 400px), 0px 0px, 0px 800px, 1440px 800px, calc(100% - 0px) calc(50% - 400px), 900.911px 653.392px, 887.29881px 643.803349px, 875.8768px 632.749792px, 866.40131px 620.392123px, 858.62868px 606.891136px, 852.31525px 592.407625px, 847.21736px 577.102384px, 843.09135px 561.136207px, 839.69356px 544.669888px, 836.78033px 527.864221px, 834.108px 510.88px, 834.108px 510.88px, 833.156387px 504.742088px, 832.192936px 498.609384px, 831.206229px 492.489436px, 830.184848px 486.389792px, 829.117375px 480.318px, 827.992392px 474.281608px, 826.798481px 468.288164px, 825.524224px 462.345216px, 824.158203px 456.460312px, 822.689px 450.641px, 822.689px 450.641px, 821.126549px 444.913538px, 819.466352px 439.189424px, 817.719443px 433.468766px, 815.896856px 427.751672px, 814.009625px 422.03825px, 812.068784px 416.328608px, 810.085367px 410.622854px, 808.070408px 404.921096px, 806.034941px 399.223442px, 803.99px 393.53px, 803.99px 393.53px, 798.138931px 377.132628px, 792.565368px 360.773584px, 787.533977px 344.455376px, 783.309424px 328.180512px, 780.156375px 311.9515px, 778.339496px 295.770848px, 778.123453px 279.641064px, 779.772912px 263.564656px, 783.552539px 247.544132px, 789.727px 231.582px, 789.727px 231.582px, 798.453102px 217.041233px, 809.432456px 205.326304px, 822.423334px 196.123071px, 837.184008px 189.117392px, 853.47275px 183.995125px, 871.047832px 180.442128px, 889.667526px 178.144259px, 909.090104px 176.787376px, 929.073838px 176.057337px, 949.377px 175.64px, 949.377px 175.64px, 958.668365px 175.468397px, 967.95304px 175.266776px, 977.208195px 175.005419px, 986.411px 174.654608px, 995.538625px 174.184625px, 1004.56824px 173.565752px, 1013.477015px 172.768271px, 1022.24212px 171.762464px, 1030.840725px 170.518613px, 1039.25px 169.007px, 1039.25px 169.007px, 1047.64403px 167.180741px, 1055.75504px 165.127448px, 1063.59941px 162.878747px, 1071.19352px 160.466264px, 1078.55375px 157.921625px, 1085.69648px 155.276456px, 1092.63809px 152.562383px, 1099.39496px 149.811032px, 1105.98347px 147.054029px, 1112.42px 144.323px, 1112.42px 144.323px, 1124.81669px 139.102486px, 1136.80832px 134.356008px, 1148.52323px 130.330862px, 1160.08976px 127.274344px, 1171.63625px 125.43375px, 1183.29104px 125.056376px, 1195.18247px 126.389518px, 1207.43888px 129.680472px, 1220.18861px 135.176534px, 1233.56px 143.125px, 1233.56px 143.125px, 1251.65655px 156.261476px, 1268.6284px 170.510448px, 1284.37085px 185.817832px, 1298.7792px 202.129544px, 1311.74875px 219.3915px, 1323.1748px 237.549616px, 1332.95265px 256.549808px, 1340.9776px 276.337992px, 1347.14495px 296.860084px, 1351.35px 318.062px, 1351.35px 318.062px, 1352.97454px 337.78567px, 1352.14112px 357.2748px, 1349.10018px 376.52537px, 1344.10216px 395.53336px, 1337.3975px 414.29475px, 1329.23664px 432.80552px, 1319.87002px 451.06165px, 1309.54808px 469.05912px, 1298.52126px 486.79391px, 1287.04px 504.262px, 1287.04px 504.262px, 1275.37065px 521.098777px, 1263.1508px 537.483016px, 1250.30875px 553.293379px, 1236.7728px 568.408528px, 1222.47125px 582.707125px, 1207.3324px 596.067832px, 1191.28455px 608.369311px, 1174.256px 619.490224px, 1156.17505px 629.309233px, 1136.97px 637.705px, 1136.97px 637.705px, 1113.584843px 646.42249px, 1089.532024px 654.57376px, 1065.043521px 661.77541px, 1040.351312px 667.64404px, 1015.687375px 671.79625px, 991.283688px 673.84864px, 967.372229px 673.41781px, 944.184976px 670.12036px, 921.953907px 663.57289px, 900.911px 653.392px,900.911px 653.392px); 
    clip-path: polygon(calc(100% - 0px) calc(50% - 400px), 0px 0px, 0px 800px, 1440px 800px, calc(100% - 0px) calc(50% - 400px), 900.911px 653.392px, 887.29881px 643.803349px, 875.8768px 632.749792px, 866.40131px 620.392123px, 858.62868px 606.891136px, 852.31525px 592.407625px, 847.21736px 577.102384px, 843.09135px 561.136207px, 839.69356px 544.669888px, 836.78033px 527.864221px, 834.108px 510.88px, 834.108px 510.88px, 833.156387px 504.742088px, 832.192936px 498.609384px, 831.206229px 492.489436px, 830.184848px 486.389792px, 829.117375px 480.318px, 827.992392px 474.281608px, 826.798481px 468.288164px, 825.524224px 462.345216px, 824.158203px 456.460312px, 822.689px 450.641px, 822.689px 450.641px, 821.126549px 444.913538px, 819.466352px 439.189424px, 817.719443px 433.468766px, 815.896856px 427.751672px, 814.009625px 422.03825px, 812.068784px 416.328608px, 810.085367px 410.622854px, 808.070408px 404.921096px, 806.034941px 399.223442px, 803.99px 393.53px, 803.99px 393.53px, 798.138931px 377.132628px, 792.565368px 360.773584px, 787.533977px 344.455376px, 783.309424px 328.180512px, 780.156375px 311.9515px, 778.339496px 295.770848px, 778.123453px 279.641064px, 779.772912px 263.564656px, 783.552539px 247.544132px, 789.727px 231.582px, 789.727px 231.582px, 798.453102px 217.041233px, 809.432456px 205.326304px, 822.423334px 196.123071px, 837.184008px 189.117392px, 853.47275px 183.995125px, 871.047832px 180.442128px, 889.667526px 178.144259px, 909.090104px 176.787376px, 929.073838px 176.057337px, 949.377px 175.64px, 949.377px 175.64px, 958.668365px 175.468397px, 967.95304px 175.266776px, 977.208195px 175.005419px, 986.411px 174.654608px, 995.538625px 174.184625px, 1004.56824px 173.565752px, 1013.477015px 172.768271px, 1022.24212px 171.762464px, 1030.840725px 170.518613px, 1039.25px 169.007px, 1039.25px 169.007px, 1047.64403px 167.180741px, 1055.75504px 165.127448px, 1063.59941px 162.878747px, 1071.19352px 160.466264px, 1078.55375px 157.921625px, 1085.69648px 155.276456px, 1092.63809px 152.562383px, 1099.39496px 149.811032px, 1105.98347px 147.054029px, 1112.42px 144.323px, 1112.42px 144.323px, 1124.81669px 139.102486px, 1136.80832px 134.356008px, 1148.52323px 130.330862px, 1160.08976px 127.274344px, 1171.63625px 125.43375px, 1183.29104px 125.056376px, 1195.18247px 126.389518px, 1207.43888px 129.680472px, 1220.18861px 135.176534px, 1233.56px 143.125px, 1233.56px 143.125px, 1251.65655px 156.261476px, 1268.6284px 170.510448px, 1284.37085px 185.817832px, 1298.7792px 202.129544px, 1311.74875px 219.3915px, 1323.1748px 237.549616px, 1332.95265px 256.549808px, 1340.9776px 276.337992px, 1347.14495px 296.860084px, 1351.35px 318.062px, 1351.35px 318.062px, 1352.97454px 337.78567px, 1352.14112px 357.2748px, 1349.10018px 376.52537px, 1344.10216px 395.53336px, 1337.3975px 414.29475px, 1329.23664px 432.80552px, 1319.87002px 451.06165px, 1309.54808px 469.05912px, 1298.52126px 486.79391px, 1287.04px 504.262px, 1287.04px 504.262px, 1275.37065px 521.098777px, 1263.1508px 537.483016px, 1250.30875px 553.293379px, 1236.7728px 568.408528px, 1222.47125px 582.707125px, 1207.3324px 596.067832px, 1191.28455px 608.369311px, 1174.256px 619.490224px, 1156.17505px 629.309233px, 1136.97px 637.705px, 1136.97px 637.705px, 1113.584843px 646.42249px, 1089.532024px 654.57376px, 1065.043521px 661.77541px, 1040.351312px 667.64404px, 1015.687375px 671.79625px, 991.283688px 673.84864px, 967.372229px 673.41781px, 944.184976px 670.12036px, 921.953907px 663.57289px, 900.911px 653.392px,900.911px 653.392px); 
    background-color: var(--Dark);
    background-size: cover;
    width: 1410px;
    height: 800px;
    background-repeat: no-repeat;
}


@media screen and (max-width: 975px) {
    .image-container {
        display: none;
}
}

@media screen and (max-width: 1280px) {
    .team-mask {
    right: 3%;
    width: 1440px;
    height: 800px;
    -webkit-clip-path: polygon(calc(100% - 0px) calc(50% - 400px), 0px 0px, 0px 800px, 1440px 800px, calc(100% - 0px) calc(50% - 400px), 1060.08px 569.874px, 1050.98958px 563.47052px, 1043.36184px 556.08868px, 1037.03406px 547.83588px, 1031.84352px 538.81952px, 1027.6275px 529.147px, 1024.22328px 518.92572px, 1021.46814px 508.26308px, 1019.19936px 497.26648px, 1017.25422px 486.04332px, 1015.47px 474.701px, 1015.47px 474.701px, 1014.83543px 470.60186px, 1014.19264px 466.5062px, 1013.53401px 462.41906px, 1012.85192px 458.34548px, 1012.13875px 454.2905px, 1011.38688px 450.25916px, 1010.58869px 446.2565px, 1009.73656px 442.28756px, 1008.82287px 438.35738px, 1007.84px 434.471px, 1007.84px 434.471px, 1006.796954px 430.646192px, 1005.688712px 426.823616px, 1004.522618px 423.003344px, 1003.306016px 419.185448px, 1002.04625px 415.37px, 1000.750664px 411.557072px, 999.426602px 407.746736px, 998.081408px 403.939064px, 996.722426px 400.134128px, 995.357px 396.332px, 995.357px 396.332px, 991.449376px 385.381078px, 987.727128px 374.455824px, 984.366992px 363.557906px, 981.545704px 352.688992px, 979.44px 341.85075px, 978.226616px 331.044848px, 978.082288px 320.272954px, 979.183752px 309.536736px, 981.707744px 298.837862px, 985.831px 288.178px, 985.831px 288.178px, 991.658919px 278.467405px, 998.991632px 270.64396px, 1007.667673px 264.497875px, 1017.525576px 259.81936px, 1028.403875px 256.398625px, 1040.141104px 254.02588px, 1052.575797px 252.491335px, 1065.546488px 251.5852px, 1078.891711px 251.097685px, 1092.45px 250.819px, 1092.45px 250.819px, 1098.65414px 250.704302px, 1104.85432px 250.569576px, 1111.03518px 250.394974px, 1117.18136px 250.160648px, 1123.2775px 249.84675px, 1129.30824px 249.433432px, 1135.25822px 248.900846px, 1141.11208px 248.229144px, 1146.85446px 247.398478px, 1152.47px 246.389px, 1152.47px 246.389px, 1158.07493px 245.169449px, 1163.49104px 243.798272px, 1168.72931px 242.296583px, 1173.80072px 240.685496px, 1178.71625px 238.986125px, 1183.48688px 237.219584px, 1188.12359px 235.406987px, 1192.63736px 233.569448px, 1197.03917px 231.728081px, 1201.34px 229.904px, 1201.34px 229.904px, 1209.61809px 226.417716px, 1217.62552px 223.247968px, 1225.44803px 220.559912px, 1233.17136px 218.518704px, 1240.88125px 217.2895px, 1248.66344px 217.037456px, 1256.60367px 217.927728px, 1264.78768px 220.125472px, 1273.30121px 223.795844px, 1282.23px 229.104px, 1282.23px 229.104px, 1294.31584px 237.877001px, 1305.65072px 247.392928px, 1316.16468px 257.615667px, 1325.78776px 268.509104px, 1334.45px 280.037125px, 1342.08144px 292.163616px, 1348.61212px 304.852463px, 1353.97208px 318.067552px, 1358.09136px 331.772769px, 1360.9px 345.932px, 1360.9px 345.932px, 1361.98538px 359.104045px, 1361.42904px 372.1194px, 1359.39826px 384.975395px, 1356.06032px 397.66936px, 1351.5825px 410.198625px, 1346.13208px 422.56052px, 1339.87634px 434.752375px, 1332.98256px 446.77152px, 1325.61802px 458.615285px, 1317.95px 470.281px, 1317.95px 470.281px, 1310.15613px 481.525086px, 1301.99464px 492.466928px, 1293.41771px 503.025502px, 1284.37752px 513.119784px, 1274.82625px 522.66875px, 1264.71608px 531.591376px, 1253.99919px 539.806638px, 1242.62776px 547.233512px, 1230.55397px 553.790974px, 1217.73px 559.398px, 1217.73px 559.398px, 1202.11323px 565.219605px, 1186.05024px 570.66312px, 1169.69601px 575.472495px, 1153.20552px 579.39168px, 1136.73375px 582.164625px, 1120.43568px 583.53528px, 1104.46629px 583.247595px, 1088.98056px 581.04552px, 1074.13347px 576.673005px, 1060.08px 569.874px,1060.08px 569.874px);
    clip-path: polygon(calc(100% - 0px) calc(50% - 400px), 0px 0px, 0px 800px, 1440px 800px, calc(100% - 0px) calc(50% - 400px), 1060.08px 569.874px, 1050.98958px 563.47052px, 1043.36184px 556.08868px, 1037.03406px 547.83588px, 1031.84352px 538.81952px, 1027.6275px 529.147px, 1024.22328px 518.92572px, 1021.46814px 508.26308px, 1019.19936px 497.26648px, 1017.25422px 486.04332px, 1015.47px 474.701px, 1015.47px 474.701px, 1014.83543px 470.60186px, 1014.19264px 466.5062px, 1013.53401px 462.41906px, 1012.85192px 458.34548px, 1012.13875px 454.2905px, 1011.38688px 450.25916px, 1010.58869px 446.2565px, 1009.73656px 442.28756px, 1008.82287px 438.35738px, 1007.84px 434.471px, 1007.84px 434.471px, 1006.796954px 430.646192px, 1005.688712px 426.823616px, 1004.522618px 423.003344px, 1003.306016px 419.185448px, 1002.04625px 415.37px, 1000.750664px 411.557072px, 999.426602px 407.746736px, 998.081408px 403.939064px, 996.722426px 400.134128px, 995.357px 396.332px, 995.357px 396.332px, 991.449376px 385.381078px, 987.727128px 374.455824px, 984.366992px 363.557906px, 981.545704px 352.688992px, 979.44px 341.85075px, 978.226616px 331.044848px, 978.082288px 320.272954px, 979.183752px 309.536736px, 981.707744px 298.837862px, 985.831px 288.178px, 985.831px 288.178px, 991.658919px 278.467405px, 998.991632px 270.64396px, 1007.667673px 264.497875px, 1017.525576px 259.81936px, 1028.403875px 256.398625px, 1040.141104px 254.02588px, 1052.575797px 252.491335px, 1065.546488px 251.5852px, 1078.891711px 251.097685px, 1092.45px 250.819px, 1092.45px 250.819px, 1098.65414px 250.704302px, 1104.85432px 250.569576px, 1111.03518px 250.394974px, 1117.18136px 250.160648px, 1123.2775px 249.84675px, 1129.30824px 249.433432px, 1135.25822px 248.900846px, 1141.11208px 248.229144px, 1146.85446px 247.398478px, 1152.47px 246.389px, 1152.47px 246.389px, 1158.07493px 245.169449px, 1163.49104px 243.798272px, 1168.72931px 242.296583px, 1173.80072px 240.685496px, 1178.71625px 238.986125px, 1183.48688px 237.219584px, 1188.12359px 235.406987px, 1192.63736px 233.569448px, 1197.03917px 231.728081px, 1201.34px 229.904px, 1201.34px 229.904px, 1209.61809px 226.417716px, 1217.62552px 223.247968px, 1225.44803px 220.559912px, 1233.17136px 218.518704px, 1240.88125px 217.2895px, 1248.66344px 217.037456px, 1256.60367px 217.927728px, 1264.78768px 220.125472px, 1273.30121px 223.795844px, 1282.23px 229.104px, 1282.23px 229.104px, 1294.31584px 237.877001px, 1305.65072px 247.392928px, 1316.16468px 257.615667px, 1325.78776px 268.509104px, 1334.45px 280.037125px, 1342.08144px 292.163616px, 1348.61212px 304.852463px, 1353.97208px 318.067552px, 1358.09136px 331.772769px, 1360.9px 345.932px, 1360.9px 345.932px, 1361.98538px 359.104045px, 1361.42904px 372.1194px, 1359.39826px 384.975395px, 1356.06032px 397.66936px, 1351.5825px 410.198625px, 1346.13208px 422.56052px, 1339.87634px 434.752375px, 1332.98256px 446.77152px, 1325.61802px 458.615285px, 1317.95px 470.281px, 1317.95px 470.281px, 1310.15613px 481.525086px, 1301.99464px 492.466928px, 1293.41771px 503.025502px, 1284.37752px 513.119784px, 1274.82625px 522.66875px, 1264.71608px 531.591376px, 1253.99919px 539.806638px, 1242.62776px 547.233512px, 1230.55397px 553.790974px, 1217.73px 559.398px, 1217.73px 559.398px, 1202.11323px 565.219605px, 1186.05024px 570.66312px, 1169.69601px 575.472495px, 1153.20552px 579.39168px, 1136.73375px 582.164625px, 1120.43568px 583.53528px, 1104.46629px 583.247595px, 1088.98056px 581.04552px, 1074.13347px 576.673005px, 1060.08px 569.874px,1060.08px 569.874px);
    }
}


